* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Whitney Book", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1200px;
  margin: 0 auto;
}

.container-big {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}
.container-small {
  max-width: 900;
  margin: 0 auto;
  padding-top: 150px;
}
.head-top {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  background-color: white;
}

.head-top .row {
  padding: 28px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-bar {
  line-height: 30px;
}
.item-icon {
  max-width: 20%;
  display: inline-block;
}

.icon {
  font-size: 2rem;
}
.big {
  font-size: 2rem;
  color: blue;
}
.bold {
  font-size: 1.5rem;
}
.link-list {
  list-style: none;
}

.list-item {
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 1.1rem;
}
.btn-1 {
  background-color: rgba(73, 131, 255, 0.871);
  padding: 5px 10px;
  border: none;
  color: white;
}
.main-bg {
  background-color: #b4d0e7;
  padding-top: 70px;
}

.title {
  font-size: 2rem;
  margin-bottom: 28px;
  margin-left: 55px;
  padding-top: 50px;
}
.title-block {
  height: 388px;
  width: 850px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.pt-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 8px;
}
img {
  width: 150%;
}
.row .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid blue;
  display: inline-block;
}

.r2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid lightgray;
  display: inline-block;
}
